this is single


<style >







.deneme:hover {
-moz-transform: translate(-2px, -2px);
-ms-transform: translate(-2px, -2px);
-o-transform: translate(-2px, -2px);
-webkit-transform: translate(-2px, -2px);
transform: translate(-2px, -2px)
 padding: 10px;
  box-shadow: 2px 2px 20px lightgrey;

}
</style>


<div class="deneme">

<img class= image src=" ${properties.fileReference}" width="30" height="50" > </img>
<h1 style= "color:#7b7b7b"> ${properties.title} </h1>
<h3> ${properties.textfield} </h3>
<p> ${properties.description} </p>
