<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<meta data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
    data-sly-call="${clientlib.all @ categories='demorc.base'}" data-sly-unwrap>
</meta>
<div class="navigation-bar">
  <div class="logo-container">
<img onclick="location.href = 'http://localhost:4502/content/demorc/home.html';" src="/content/dam/demorc/Royal-Cyber-Logo.svg" alt="" style="z-index: 1;">
  </div>
  <div class="drop-container">
    <div class="dropdown">
      <button class="dropbtn">EXPERTISE <i class="arrow down"></i></button>
      <div class="dropdown-content">
        <a href="https://www.royalcyber.com/company/contact-us/">Digital Consulting</a>
       
      </div>
      
    </div>
    <div class="dropdown">
      <button class="dropbtn">COMPANY <i class="arrow down"></i></button>
      <div class="dropdown-content">
        <a href="http://localhost:4502/content/demorc/home/about-us.html">About Us</a>
        <a href="http://localhost:4502/content/demorc/home/training.html">Training</a>
        <a href="http://localhost:4502/content/demorc/home/awards.html">Awards</a>
      </div>
      
    </div>
    <div class="dropdown">
      <a href="/content/demorc/home/contact-us.html"><button class="dropbtn" style="cursor: pointer;">CONTACT US </button></a>
      <!-- <div class="dropdown-content">
        <a href="https://www.royalcyber.com/company/contact-us/">Link 1</a>
        <a href="https://www.royalcyber.com/company/contact-us/">Link 1</a>
      </div> -->
      
    </div>
    <div class="dropdown">
      <button  style="background: #dd9933 !important;cursor: pointer;"> <i class="fa fa-search" aria-hidden="true" style="font-size: 25px;"></i></i> </button> 
    </div>
    </div>
   
</div>