<!DOCTYPE html>
<html>
<body>
	<h2>Quick Enquiry</h2>
	<form name="register" id="register" method="POST">

		<br> <input type="text" placeholder="firstName*" value=""> <br>
		<br>  <input type="text" placeholder="lastName"value=""> <br>
        <br> <input type ="text" placeholder="Buisness Email*" value="" > <br>
        <br> <input type ="text" placeholder="Your Enquiry*" value="" > <br>


<input type="checkbox" id="a" name="a" value="enquiry">
  <label for="a"> subscribe for enquiry</label><br>


		<br> <input type="Submit" name="submit" id="submit">
	</form>
	<div id="rgstr" name="rgstr"></div>
	<div id="fullnm" name="fullnm"></div>
</body>