<script>
     .praveen    {
    -webkit-box-direction: normal;
    box-sizing: border-box;
    text-rendering: optimizelegibility;
    margin: 0!important;
    letter-spacing: 0!important;
    padding: 5px 0!important;
    text-transform: initial!important;
    line-height: normal!important;
    font-family: 'Roboto', sans-serif !important;
    font-size: 18px!important;
    font-style: normal;
    font-weight: bold !important;
    color: #000000;
    text-align: center;
    }

</script>



<div class= "praveen" >

<h1>${properties.companylocation} </h>
<h3><h1>${properties.description} </h3>
<h4>${properties.number} </h4>
<h4>${properties.email} </h4>

 <a href="${properties.link}" >  <button>${properties.linkname}  </button> </a>

</div>
