<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<meta data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
  data-sly-call="${clientlib.all @ categories='demorc.base'}" data-sly-unwrap>
</meta>
<div class="footer">
  <div class="footer-upper">
    <div class="div-4">
      <h2 class="footer-item-title">Innovation</h2>
      <div>
        <ul>


          <li><a href="http://localhost:4502/editor.html/content/demorc/home/training.html"> Retail Industry</a></li>
          <li><a href="http://localhost:4502/editor.html/content/demorc/home/training.html">Healthcare Industry</a></li>

          <li><a href="http://localhost:4502/editor.html/content/demorc/home/training.html">Travel Industry</a>
          </li>
          <li><a href="http://localhost:4502/editor.html/content/demorc/home/training.html">Automotive Industry</a></li>

          <li><a href="http://localhost:4502/editor.html/content/demorc/home/training.html">
              Banking & Finance Industry</a>
          </li>


        </ul>
      </div>
    </div>
    <div class="div-4">
      <h2 class="footer-item-title">Innovation</h2>
      <div>
        <ul>

          <li><a href="http://localhost:4502/editor.html/content/demorc/home/training.html">Google Cloud Computing
              Computing</a></li>
          <li><a href="http://localhost:4502/editor.html/content/demorc/home/training.html">SAP Commerce Cloud </a></li>

          <li><a href="http://localhost:4502/editor.html/content/demorc/home/training.html">Salesforce</a>
          </li>
          <li><a href="http://localhost:4502/editor.html/content/demorc/home/training.html">commercetools</a></li>

          <li><a href="http://localhost:4502/editor.html/content/demorc/home/training.html">Robotic Process Automation</a>
          </li>
      

        </ul>
      </div>
    </div>
    <div class="div-4">
      <h2 class="footer-item-title">Innovation</h2>
      <div>
        <ul>
          



          <li><a href="http://localhost:4502/editor.html/content/demorc/home/training.html">3D Product Customization</a></li>
          <li><a href="http://localhost:4502/editor.html/content/demorc/home/training.html">Monitor Pro for Supply Chain </a></li>

          <li><a href="http://localhost:4502/editor.html/content/demorc/home/training.html">Transaction Pro</a>
          </li>
          <li><a href="http://localhost:4502/content/demorc/home/training.html">AIagentBot</a></li>

          <li><a href="http://localhost:4502/editor.html/content/demorc/home/training.html">
            Test Automation Framework</a>
          </li>
        
        </ul>
      </div>

    </div>
    <div class="div-4">
      <h2 class="footer-item-title">Quick Inquiry</h2>
      <div>
        <form action="" class="inquery-form">
          <input type="text" placeholder="First Name">
          <input type="text" placeholder="Last Name">
          <input type="text" placeholder="Email">
          <!-- <input type="text" placeholder="Your Inquery"> -->
          <textarea name="" id="" cols="30" rows="4" placeholder="your inquery"></textarea>
          <div>
            <input style="width: 20px;height: 20px;" type="checkbox" name="newsletter"><label for="newsletter">Subscribe
              for newsletter</label>
          </div>
          <input
            style="background-color: rgb(221, 111, 9);border: 1px solid rgb(221, 111, 9);border-radius: 6%; color: white; cursor: pointer;margin: 10px;"
            type="button" name="" id="" value="Submit">
        </form>
      </div>
    </div>
  </div>
  <div class="footer-lower">
    <div class="icons-container">
      <h3 style="float: left;">Social Links : </h3>
      <a href="https://www.facebook.com"><img class="icon" src="/content/dam/demorc/face.jpg" alt=""></a>
      <a href="https://www.facebook.com"><img class="icon" src="/content/dam/demorc/instagram.jpg" alt=""></a>
      <a href="https://www.facebook.com"><img class="icon" src="/content/dam/demorc/linkdin.png" alt=""></a>
      <a href="https://www.facebook.com"><img class="icon" src="/content/dam/demorc/youtube.png" alt=""></a>

    </div>
    <p style="color: white;margin-bottom: 10px;">Copyright &copy 2022 Royal Cyber Inc. All Rights Reserved.</p>
  </div>
</div>